
body{ padding-top:50px; }

.view { color: #03A9F4; }
.edit { color: #FFC107; }
.delete { color: #E34724; }

table thead tr th{
	padding:10px 5px 10px 25px !important;
}

table tbody tr td{
	padding:10px 5px 10px 25px !important;
}

table{
    text-align: center;
}

.actiune{
	padding:10px 0px !important;
	text-align:center;
	word-spacing:5px;
}
			
.btn-success{ float:right; margin-top:10px;}

table, .signup-form{ margin-top:50px; }

.titlu{  
	display:inline-block;
	padding:0px 150px 10px 0px;
	border-bottom:1px solid #cccccc;
}

.mesaj{
	margin-top:15px;
	font-size:19px;
	font-style:italic;
}

.signup-form {
	width: 50%;
}

.signup-form form {
	color: #999;
	margin-bottom: 15px;
}

.signup-form .fa { font-size: 21px; }

.signup-form .fa-graduation-cap, .signup-form .fa-address-card { font-size: 15px; }

.info{
	border-bottom:1px solid #114cf0;
	width:50%;
	margin-bottom:15px;
}

.info h3{
	display:inline-block;
	font-family:calibri;
	font-size:22px;
	font-weight:bold;
	width:150px;
}

.info p{
	display:inline-block;
	font-family:calibri;
	font-size:20px;
}

.alert{
	width:50%;
	padding:15px 20px;
	margin-top:50px;
}

.eroare{
	margin:4px 0px 5px 0px;
	color:#990000;
	font-size:16px;
	text-align:right;
}
